

<div style="background-image:url('{{ mainPicture }}')" class="restaurant"></div>
This is where your restaurnant looks nice:::

{{#each item}}
{{itemType}}
<h5>{{name}}</h5>
<p>{{description}}</p>
<p>{{price}}</p>
<img src="{{image}}" alt="">
{{/each}} 







