



<link rel="stylesheet" href="../../../stylesheets/profile.css" />

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<a class="home" href="/">Home</a>
<a class="res" href="/restaurant/{{user.username}}">Restaurant</a>


<div class="editFrom">
<form   action="/item/{{menuEdit.id}}/edit" method="post" enctype="multipart/form-data">
<select name="itemType" value="{{menuEdit.itemType}}">
			<option value="Appetizer" >Appetizer</option>
			<option value="MainDish"  >Main Dish</option>
			<option value="Desserts"  >Desserts</option>
      <option value="Beverages" >Beverages</option>
</select>
<label>name</label>
<input type="text" name="name" value="{{menuEdit.name}}">
<label>description</label>
<input type="text" name="description" value="{{menuEdit.description}}">
<label>price</label>
<input type="text" name="price" value="{{menuEdit.price}}">
<label>image</label>
<input type ="file" name ="Photo"  value="{{menuEdit.image}}"  >
<input type="submit" value="SAVE">
</form>
</div>