



<link rel="stylesheet" href="../../../stylesheets/profile.css" />
<link rel="stylesheet" href="../../../stylesheets/editFrom.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<a class="home" href="/">Home</a>
<a class="res" href="/restaurant/{{user.username}}/{{user._id}}">Restaurant</a>


<div class="editFrom">
<form   action="/item/{{menuEdit.id}}/edit" method="post" enctype="multipart/form-data">
<select name="itemType" value="{{menuEdit.itemType}}">
			<option class="option"  value="Appetizer" >Appetizer</option>
			<option class="option"  value="MainDish"  >Main Dish</option>
			<option class="option"  value="Desserts"  >Desserts</option>
      <option class="option"  value="Beverages" >Beverages</option>
</select>
<br/>
<label>Item name:</label>
<input required type="text" type="text" name="name" value="{{menuEdit.name}}">
<br/>
<label>description:</label>
<input required type="text" type="text" class="description" name="description" value="{{menuEdit.description}}">
<br/>
<label>price:</label>
<input required type="number" type="number" class="price" name="price"  min="1" max="1000" value="{{menuEdit.price}}">
<br/>
<label>image:</label>
<input  required type="file" type ="file" name ="Photo"  value="{{menuEdit.image}}"  >
<input type="submit" value="SAVE" class="save">
</form>
</div>

