<h1>{{title}}</h1>
<p>Welcome to {{name}}</p>
<p>Please <a href="/signup"> Sign up </a> !if you already have a account Please <a href="/login">Log in</a></p>

<p><a href="##">Log out</a></p>



{{#each item}}
{{item}}
<h5>{{name}}</h5>
<p>{{description}}</p>
<p>{{price}}</p>
<img src="{{image}}" alt="">
<a href="/edit{{this._id}}">Edit</a> 
 <form action="/item/{{_id}}/delete" method="POST">
    <button type="submit">Delete</button>
  </form>
 {{else}}
    <p>There are no menu yet! </p>
{{/each}}

