<link rel="stylesheet" href="../../../stylesheets/profile.css" />

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<a class="home" href="/">Home</a>
<a class="res" href="/restaurant/{{user.username}}">Restaurant</a>

{{#if user}}
<div class="welcome">
  <p>Welcome "{{user.username}}" </p>

</div>

{{/if}}
<div class="updateDiv">
<p class="updateP">Restaurant background:</p> 
<p><a href="/add-Main-page"><button class="Update">Update image</button></a></p>
</div>

<div class="addFrom">

 

  <div class="divFrom">
 
  
  <form class="from" action="/addItems" method="post" enctype="multipart/form-data">
    <p class="from-p">Add new item</p>
    <select name="itemType">
      <option class="option" value="Appetizer" name="Appetizer">Appetizer</option>
      <option class="option" value="MainDish" name="MainDish">MainDish</option>
      <option class="option" value="Desserts" name="Desserts">Desserts</option>
      <option class="option" value="Beverages" name="Beverages">Beverages</option>
    </select>
    <label>Item name:</label>
    <input required type="text" type="text" name="name">
    <label>description:</label>
    <input required type="text" class="description" type="text" name="description" >
    </br>
    <div class="fromPrice">
    <label>price:</label>
    <input required type="number" type="number" class="price" name="price"
       min="1" max="1000">
    <label>image:</label>
    <input required type="file" type="file" name="Photo">
 
    <input class="save" type="submit" value="SAVE">
    </div>
  </form>

</div>

</div>






<div class="boxMenu">
{{#each item}}
<div class="red-box container">
  <div class="row">
 <div class="w3-container">


  <div class="w3-card-4" style="background-image:url('{{image}}')">
   
    <div class="w3-container w3-center">
      <h4>{{itemType}}</h4>
      <h5>{{name}}</h5>
      <p>{{price}}</p>
      <p>{{description}}</p>
    </div>
          <form class="edit" action="/item/{{_id}}/edit" method="GET">
        <button type="submit">Edit</button>
      </form>

      <form "delete" action="/item/{{_id}}/delete" method="POST">
        <button type="submit">Delete</button>
      </form>

  </div>
</div>

  </div>
</div>
{{else}}
<p>There are no menu yet! </p>

{{/each}}

</div>
