

<link rel="stylesheet" href="../../../stylesheets/restaurant.css" />


<div class="navbar">
 
  <a href="{{user.username}}/home">About {{user.username}}</a>
  <div class="dropdown">
    <button class="dropbtn">Menu 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{user.username}}/{{user._id}}/Appetizer">Appetizer</a>
      <a href="{{user.username}}/{{user._id}}/MainDish">Main Dish</a>
      <a href="{{user.username}}/{{user._id}}/Desserts">Desserts</a>
      <a href="{{user.username}}/{{user._id}}/Beverages">Beverages</a>
    </div>
  </div>
  <a href="#news">Order online</a>
  <a href="#">Contact</a>
</div>


<div style="background-image:url('{{ mainPicture }}')" class="restaurant">

</div>







<div class="about">

<p class="aboutP">About {{user.username}}</p>
<img src="../images/chef-cook-cooked-1327215.jpg">
<p class="letter">
  {{description}}

</p>










